@import url(./variables.css);

body{
    background-color: var(--main-bg-color);
    font-size: var(--font-size-medium);
    font-family: var(--font-family);
    display: flex;
    margin:0;
    color: var(--text-color);
}
a:link, a:visited, a:hover{
    color: var(--text-color);
}
nav ul{
    padding-left: 0;
    margin-left:0;
}
nav li.highlight a{
    background-color: var(--text-color-emphasis);
}
nav li{
    list-style: none;
    margin-bottom:10px;
}
nav{
    padding: 30px 15px;
    flex-basis: 18%;
    font-size: var(--font-size-small);
    max-height: calc(100vh - 60px);
    overflow: scroll;
    padding-right:25px;
    border-right: 2px solid;
}
.inner{
    padding: 30px 60px;
    flex-basis: 82%;
    margin:0 auto;
    height: calc(100vh - 60px);
    overflow: scroll;

}