@import url(./variables.css);

body{
    background-color: var(--main-bg-color);
    font-size: var(--font-size-medium);
    font-family: var(--font-family);
    display: flex;
    flex-direction: row;
    margin:0;
    color: var(--text-color);
}
a:link, a:visited, a:hover{
    color: var(--text-color);
}
nav ul{
    padding-left: 0;
    margin-left:0;
}
nav li.highlight a{
    background-color: var(--text-color-emphasis);
}
nav li{
    list-style: none;
    background-color: rgb(165, 162, 162);
    margin-bottom:10px;
    padding:5px;
}
nav{
    padding: 30px 15px;
    flex-basis: 18%;
    font-size: var(--font-size-small);
    max-height: calc(100vh - 60px);
    overflow: scroll;
    padding-right:25px;
    border-right: 2px solid;
}
.inner{
    padding: 30px 60px;
    flex-basis: 82%;
    margin:0 auto;
    height: calc(100vh - 60px);
    overflow: scroll;

}

@media(max-width:768px) {
    body{
        flex-direction: column;
    }
    nav ul li{
        display: inline-block;
        margin:0;
        margin-right:5px;
        padding:5px;
        max-width: 200px;
        background-color: rgb(165, 162, 162);
    }
    nav ul{
        display: flex;
        width: 2500px;
        margin-bottom: 0;
    }
    nav{
        max-width: 100%;
        height:auto;
        padding: 15px;
        border:none;
        border-bottom:2px solid;
    }
}