
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Ojuju:wght@200..800&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root{
    --font-size-large: 50px;
    --font-size-body: 24px;
    --font-size-medium: 32px;
    --fg-color: white;
    --bg-color: rgb(20, 18, 18);
    --bg-color2: rgb(20, 18, 18, 0.8);
    --outer-margin: 25px;
    --font-display: "Ojuju", sans-serif;
    --main-width: 800px;
    --font-body: Helvetica, sans-serif;
}
body{
    background-image: url("./tile.png");
    background-size: 400px;
    margin:0;
    padding:0;
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    background-color: var(--bg-color);
    font-weight: 200;
    color: var(--fg-color);
}
main{
    padding: var(--outer-margin);
    max-width: var(--main-width);
    margin: 0 auto;
    height: calc(100vh - (var(--outer-margin) * 2));
    overflow:scroll;
    background: var(--bg-color2);
}

h1,h2{
    font-size: var(--font-size-large);
    font-weight: normal;
    font-family: var(--font-display);
}
h4{
    font-weight: 400;
    font-size: var(--font-size-medium);
    font-family: var(--font-display);
    margin-bottom:0.5em;

}
img{
    width: 100%;
}
a, a:link, a:visited{
    color:inherit;
}

@media (max-width: 768px) {
    :root{
        --font-size-large: 24px;
        --font-size-body: 18px;
        --outer-margin: 10px;
        --main-width: 768px;
    }
}
