
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Ojuju:wght@200..800&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root{
    --font-size-large: 50px;
    --font-size-body: 24px;
    --font-size-medium: 32px;
    --fg-color: white;
    --bg-color: rgb(20, 18, 18);
    --bg-color2: rgb(20, 18, 18, 0.8);
    --outer-margin: 25px;
    --font-display: "Ojuju", sans-serif;
    --main-width: 800px;
    --font-body: Helvetica, sans-serif;
}
body{
    background-image: url("./tile.png");
    background-size: 400px;
    margin:0;
    padding:0;
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    background-color: var(--bg-color);
    font-weight: 200;
    color: var(--fg-color);
}
main{
    padding: var(--outer-margin);
    max-width: var(--main-width);
    margin: 0 auto;
    height: calc(100vh - (var(--outer-margin) * 2));
    overflow:scroll;
    background: var(--bg-color2);
}

h1,h2{
    font-size: var(--font-size-large);
    font-weight: normal;
    font-family: var(--font-display);
}
h4{
    font-weight: 400;
    font-size: var(--font-size-medium);
    font-family: var(--font-display);
    margin-bottom:0.5em;

}
img{
    width: 100%;
}
a, a:link, a:visited{
    color:inherit;
}
nav{
    display: block;
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 999;
}
nav svg path{
    transition: 0.2s;
}
nav.open svg path:last-child,nav.open svg path:nth-child(2){
    opacity: 0;
}

nav ul{
  background-color: var(--bg-color);
  display: none;
  width: 100%;
  font-size: var(--font-size-medium);
  font-family: var(--font-display);
  position: absolute;
  z-index: -1;
  top:0;
  left:0;
  text-align: center;
}
nav svg{
    width: 100px;
    padding: var(--outer-margin);
    z-index: 1;
    position:absolute;
}
nav.open ul{
    margin:0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

th{
    font-family: var(--font-display);
    font-weight: normal;
    text-align: left;
    padding: 5px;
    border:1px solid;
}
tr{
 padding: 10px 5px;
 border:1px solid;
}
td{
    border:1px solid;
    padding: 5px;
}
table{
    /* border:1px solid; */
   border-color: var(--fg-color);
}


@media (max-width: 768px) {
    :root{
        --font-size-large: 32px;
        --font-size-medium: 24px;
        --font-size-body: 18px;
        --outer-margin: 10px;
        --main-width: 768px;
    }
    nav svg{
        width: 50px;
    }
    nav{
        background-color: var(--bg-color);
        width: 100%;
        min-height: 80px;
    }
    main{
        margin-top: 80px;
        height: calc(100vh - (80px + (var(--outer-margin) * 2)));
    }
}
